@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*font-size: 20px;*/
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    background: none; /* let html background show */
}

/* --- NAVIGATION BAR --- */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 40px;
    position: fixed;
    top: 10px;
    left: 1%;
    right: 1%;
    z-index: 9999; /* navbar stays on top */
}

nav > div { 
    background-color: #fff !important; 
}

#logo {
    display: flex;
    justify-content: space-between;
    gap: 3px;
}

#logo img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#navbar-contents {
    display: flex;
    background-color: white;
    justify-content: space-between;
    gap: 20px;
}

#navbar-contents a:hover{
    color: #3c6efc;
    transition: 0.4s ease;
}

#navbar-contents a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

/* From Uiverse.io by BHARGAVPATEL1244 */ 
/* --- LOGIN BUTTON --- */
#loginBtn {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.8rem 1rem;
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    border-radius: 500px;
    overflow: hidden;
    background: #3c6efc;
    color: ghostwhite;
   }
   
   #loginBtn span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   /*#loginBtn:hover span {
    color: black;
   }*/
   
   #loginBtn::before,
   #loginBtn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   #loginBtn::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   #loginBtn:hover::before {
    transform: translate3d(100%, 0, 0);
   }  
   
/* From Uiverse.io by BHARGAVPATEL1244 */ 
/* --- SIGN UP BUTTON --- */
#signUpBtn {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.8rem 1rem;
    margin: 0;
    font-family: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 15px;
    border-radius: 500px;
    overflow: hidden;
    background: white;
    color: ghostwhite;
   }
   
   #signUpBtn span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   #signUpBtn:hover span {
    color: black;
   }
   
   #signUpBtn::before,
   #signUpBtn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   #signUpBtn::before {
    content: "";
    background: #3c6efc;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   #signUpBtn:hover::before {
    transform: translate3d(100%, 0, 0);
   }  

/* --- CONTENTS OF THE LANDING PAGE --- */
#app-description {
    background-image: url("../resources/background-image.jpg"); /* sets the image */
    background-position: center; /* centers the image */
    background-size: cover;      /* scales image to cover entire element */
    background-repeat: no-repeat; /* prevents the image from tiling */
    min-height: 100vh; /* make landing section full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertically center text */
    align-items: center;
    text-align: center;
    color: black;
}

#app-description h1 {
    font-size: 60px;
}

#app-description p {
    font-size: 20px;
}

/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
    background: #3c6efc;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    justify-content: center; /* centers icon and text horizontally inside button */
    margin: 15px auto;   /* centers the button itself in parent */
    box-shadow: inset 0 0 1.6em -0.6em #3c6efc;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #3c6efc;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #3c6efc;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

  /* --- ABOUT SECTION --- */
  #about-section {
    align-items: center;
    text-align: center;
    background: white;
    padding: 60px 15%; /* vertical + horizontal padding */
}

  #about-section h1 {
    font-size: 60px;
  }

  #about-section p {
    font-size: 20px;
    margin-top: 60px;
  }

  /* --- FEATURES SECTION --- */
  #features-section {
    align-items: center;
    text-align: center;
    padding: 60px 15%;
  }

  #features-section h1 {
    font-size: 60px;
  }

  .grid-container {
    width: min(75rem, 100%);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    gap: 2rem;
    margin-top: 60px;
  }
  .card {
    --grad: red, blue;
    padding: 2.5rem;
    background-image: linear-gradient(to bottom left, #e0e4e5, #f2f6f9);
    border-radius: 2rem;
    gap: 1.5rem;
    display: grid;
    grid-template: 'title icon' 'content content' 'bar bar' / 1fr auto;
    font-family: system-ui, sans-serif;
    color: #444447;
    box-shadow: 
      inset -2px 2px hsl(0 0 100% / 1),
      -20px 20px 40px hsl(0 0 0 / .25) ;
    
    .title {
      font-size: 1.5rem;
      grid-area: title;
      align-self: end;
      text-transform: uppercase;
      font-weight: 500;
      word-break: break-all;
      
    }
    .icon {
      grid-area: icon;
      font-size: 3rem;
      
      > i {
        color: transparent;
        background: linear-gradient(to right, var(--grad));
        background-clip: text;
      }
    }
    .content {
      grid-area: content;
      & > *:first-child { margin-top: 0rem}
      & > *:last-child { margin-bottom: 0rem}
    }
    &::after {
      content: "";
      grid-area: bar;
      height: 2px;
      background-image: linear-gradient(90deg, var(--grad));
  /*     margin-inline: -1.5rem; */
    }
  }